{% extends "layout.html" %}
{% block content %}
	<form action="#" method="post">
		<input type="text" id="username" class="my-2 rounded-md outline-none bg-gray-200 p-1 px-3" name="new_username" placeholder="Change Username" width="100">
		<br>
		<input type="password" class="my-2 rounded-md outline-none bg-gray-200 p-1 px-3" name="new_password" placeholder="Change Password">
		<br>
		<input type="submit" class="my-2 rounded outline-none mt-4 py-1 px-5 border-b-4" value="Save Changes">
	</form>
{% endblock content %}